<head>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
	<!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<body style = "background-color: #d3d3d3">
	<div class="login">
	    <div class="container">
	      <div class="row main" style = "margin-top: 20px">
	        <div class="panel-heading">
	          <div class="panel-title text-center">
	            <h1 class="login-title">¿Olvidaste tu Contraseña?</h1>
	          </div>
	        </div>
	      </div> 
	      <div class="main-login main-center">
	          <form class="form-horizontal" method="post" action="#">
	            <div class="form-group">
	              <label for="name" class="cols-sm-2 control-label">Correo</label>
	              <div class="cols-sm-10">
	                <div class="input-group">
	                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
	                  <%= f.email_field :email, autofocus: true, placeholder: "Ingrese sus Correo"%>
	                </div>
	              </div>
	            </div>
	            <div class="form-group ">
              		<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Enviar Instrucciones</button>
            	</div>
	            <div class="login-register">
	              <%= render "devise/shared/links" %>
	            </div>
	          </form>
	      </div>
	    </div>
	</div>
</body>

<% end %>


