<body>
    <section id="error" class="container text-center">
        <h1>Hora Reservada con éxito</h1>
        <p>Puede Revisar sus horas en la Barra de Navegación, Nombre de Usuario, Mis Horas.</p>
        <%= link_to "<button class='btn btn-primary'>Volver a la Página Principal</button>".html_safe,  welcome_index_path %>
    </section><!--/#error-->
</body>
