<center><h2>Mis horas reservadas</h2></center>

<% if @horas.count != 0 %>
	<table>
		<tr>
			<th>Fecha</th>
			<th>Hora</th>
			<th>Cancelar hora</th>
		</tr>
		<% @horas.each do |f| %>
			<% @abs.each do |a| %>
				<% if f.AB_ID == a.AB_ID %>
					<tr>
						<td><%= a.AB_DATE %></td>
						<td><%= f.RH_START_TIME.strftime('%H:%M')%></td>
						<td><%= link_to "<button class= 'btn btn-primary btn-lg btn-block login-button' >Cancelar</button>".html_safe, {:action => 'cancelar', :id_hora => f.RH_ID} %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>

<% else %>
	<h2>No posee reservaciones</h2>
<% end %>


