<body>
	<section id="about-us">
		<div class = "container" >
			<div class="center wow fadeInDown">
				<h2> ¿Que desea administrar?</h2>
			</div>
			 <div class="main-login search-center">
				<%= link_to "<button class= 'btn btn-primary btn-lg btn-block login-button' >Administrar horas</button>".html_safe, administrations_hours_path %>
				<%= link_to "<button class= 'btn btn-primary btn-lg btn-block login-button' >Administrar bloques de atención</button>".html_safe, administrations_selec_doctor_path %>
				<%=  link_to "<button class= 'btn btn-primary btn-lg btn-block login-button' >Administrar bloques de atención</button>".html_safe, administrations_selec_doctor_path %>
			</div>
		</div>
	</section>
</body>

