<body>
    <section id="error" class="container text-center">
    	<section id="about-us">
			<div class = "container" >
				<div class="center wow fadeInDown">
        			<h1>Bloque Creado con éxito</h1>
				</div>
			</div>
	</section>
        <p></br></br>Puede continuar agregando o eliminando bloques si presiona el botón "Volver Atrás".</p>
        <%= link_to "<button class='btn btn-primary'>Volver Atrás</button>".html_safe,  administrations_block_path %>
        <%= link_to "<button class='btn btn-primary'>Volver a la Página Principal</button>".html_safe,  welcome_index_path %>
    </section><!--/#error-->
</body>
