<section id="contact-info">
	<div class="center">                
            <h2>Reporte de gestión</h2>
            <p class="lead"> Estadisticas generales</p>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
					
					<lu class="list-group">
						<lu class="list-group">
							<h3><b>Pacientes y usuarios</b></h3>
							
							<li class="list-group-item">Usuarios registrados: <b> 0 </b></li>
							<li class="list-group-item">Pacientes activos: <b> 0 </b></li>
							<li class="list-group-item">ID Chilena: <b> 0 </b></li>
							<li class="list-group-item">ID Extrajera: <b> 0 </b></li>
							
							
						</lu>

						<lu class="list-group">
							<h3><b>Horas medicas</b></h3>
							
							<li class="list-group-item">Reservadas: <b> 0 </b></li>
							<li class="list-group-item">Canceladas: <b> 0 </b></li>
							<li class="list-group-item">Concretadas: <b> 0 </b></li>
							<li class="list-group-item">Pendientes: <b> 0 </b></li>
							
							
						</lu>
					</lu>

			                   
			</div>

			<div class="col-sm-6">
					<lu class="list-group">
						<lu class="list-group">
							<h3><b>Medicos</b></h3>
							
							<li class="list-group-item">Activos: <b> 0 </b></li>
							<li class="list-group-item">N° Especialidades: <b> 0 </b></li>
						</lu>
						
						<lu class="list-group">
							<h3><b>Establecimientos</b></h3>
							
							<li class="list-group-item">Comunas abarcadas: <b> 0 </b></li>
							<li class="list-group-item">Establecimientos activos: <b> 0 </b></li>
							
							
						</lu>
					</lu>

					<lu class="list-group">
						<lu class="list-group">
							<h3><b>Total</b></h3>		
							<li class="list-group-item">Pacientes: <b> 000 </b></li>
							
							
						</lu>
					</lu>
			                   
			</div>

			</div>

	</div>
</section>
