<div>
	<center><h2>Establecimientos</h2></center>
	<table class = "listing" summary = "establishments list">
		<tr class = "header">
			<th>Comuna</th>
			<th>Dirección</th>
			<th>Teléfono</th>
		</tr>
		<% @ests.each do |est| %>
			<% @coms.each do |com| %>
				<% if est.commune_id == com.commune_id %>
					<tr>
						<td><%= com.commune_NAME%></td>
						<td><%= est.EST_ADDRESS %></td>
						<td><%= est.EST_PHONE %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
</div>
