<section id="contact-info">
        <div class="center">                
            <h2>¿Cómo Llegar?</h2>
            <p class="lead">Se presentan una lista completa de nuestros establecimientos</p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6657.564100868089!2d-70.53627861015524!3d-33.454984389140684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce0e9695b519%3A0x329db836af4ea187!2sLos+Caracoles+302%2C+La+Reina%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1468355769087" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>Establecimiento Principal</h5>
                                    <p>Los Caracoles #302 <br>
                                    Rancagua</p>
                                    <p>Teléfono:670-898-2847</p>
                                </address>

                                <address>
                                    <h5>Oficina Alameda</h5>
                                    <p>1537 Av. Libertador Bernardo O'higgins <br>
                                    Santiago</p>                                
                                    <p>Phone:670-898-2847</p>
                                </address>
                            </li>


                            <li class="col-sm-6">
                                <address>
                                    <h5>Oficina Matta</h5>
                                    <p>Av. Matta # 305 <br>
                                    Santiago</p>
                                    <p>Phone:670-898-2847</p>
                                </address>

                                <address>
                                    <h5>Oficina Providencia</h5>
                                    <p>Av. Providencia #2001 <br>
                                    Santiago</p>
                                    <p>Phone:670-898-2847</p>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->



<div>
	<center><h2>Establecimientos</h2></center>
	<table class = "listing" summary = "establishments list">
		<tr class = "header">
			<th>Comuna</th>
			<th>Dirección</th>
			<th>Teléfono</th>
		</tr>
		<% @ests.each do |est| %>
			<% @coms.each do |com| %>
				<% if est.commune_id == com.commune_id %>
					<tr>
						<td><%= com.commune_NAME%></td>
						<td><%= est.EST_ADDRESS %></td>
						<td><%= est.EST_PHONE %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
</div>
